html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
    font-weight: 500;
    background-color: white;
    background: white url('../img/noise-pattern.png') repeat;
    color: #222;
}

h2 {
    color: #3F1F60;
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}

.page-header {
    background-color: #3f1f60;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0;
}

.navbar-brand,
.navbar-brand:visited {
    text-decoration: none;
}

.navbar-brand span:nth-child(1) {
    color: #FFBEC7;
}

.navbar-brand span:nth-child(2) {
    color: tomato;
}

.navbar-brand span:nth-child(3) {
    color: khaki;
    font-size: 2.25rem;
}

.navbar-brand:hover span:nth-child(2) {
    color: khaki;
}

.navbar-brand:hover span:nth-child(3) {
    color: tomato;
}

@media (max-width: 991.98px) {

    .offcanvas-collapse {
        position: fixed;
        top: 76px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
    }

    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}

@media (min-width: 992px) {

    .offcanvas-collapse {
        align-items: flex-end;
    }

    .offcanvas-collapse .nav-link {
        padding-bottom: 0;
    }

}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.page-header .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: #FFBEC7;
    box-shadow: #FFBEC7;
}

.page-header .input-group .btn {
    background-color: #FFBEC7;
    color: white;
    text-transform: lowercase;
    font-weight: 700;
    font-variant: small-caps;
}

.attribution {
    /*color: #245566;*/
    color: #555;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post-form .control-group {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.post-form .control-label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1rem;
    color: #777;
}

.post-form .asteriskField {
    color: red;
}

.mce-panel,
.post-form .textinput {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.post-form .textinput {
    padding: 0.25rem 0.5rem;
}
/* to match the rule above */
.mce-content-body {
    margin: 0.25rem 0.5rem;
}

.post-form .form-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.post-form #submit-id-save {
    background: #3f1f60;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    max-width: 12rem;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1.25rem;
}

.post {
    margin: 3.25rem 0 3.25rem;
}

.post h2 a,
.post h2 a:visited {
    color: #3F1F60;
}