html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 76px;
    font-weight: 500;
    background-color: white;
    background: white url('../img/noise-pattern.png') repeat;
    color: #222;
}

h2 {
    color: #3F1F60;
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}

.page-header {
    background-color: #3f1f60;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0;
}

.navbar-brand,
.navbar-brand:visited {
    text-decoration: none;
}

.navbar-brand span:nth-child(1) {
    color: #FFBEC7;
}

.navbar-brand span:nth-child(2) {
    color: tomato;
}

.navbar-brand span:nth-child(3) {
    color: khaki;
    font-size: 2.25rem;
}

.navbar-brand:focus {
    color: #FFBEC7;
}

.navbar-brand:hover span:nth-child(2) {
    color: khaki;
}

.navbar-brand:hover span:nth-child(3) {
    color: tomato;
}

.offcanvas-collapse .input-group .btn {
    padding: 0.25rem 0.25rem 0.25rem 0.4rem;
}

.offcanvas-collapse .nav-link {
    /*text-transform: lowercase;*/
    /*font-variant: small-caps;*/
    font-size: 1.05rem;
    font-weight: 700;
    color: #FFFAFA; /* Snow White */
}

.offcanvas-collapse .nav-link:hover,
.offcanvas-collapse .nav-link:focus {
    color: #FFBEC7;
}

@media (max-width: 991.98px) {

    .offcanvas-collapse {
        position: fixed;
        top: 76px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding: 1.5rem 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #1B1E23; /* Duron Black */
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
    }

    .offcanvas-collapse .navbar-nav {
        margin-bottom: 3rem;
    }

    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}

@media (min-width: 992px) {

    .offcanvas-collapse {
        align-items: flex-end;
    }

    .offcanvas-collapse .nav-link {
        padding-bottom: 0;
    }

    .offcanvas-collapse .form-control,
    .offcanvas-collapse .input-group .btn {
        height: 2.2rem;
    }

}

.hamburger-box {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    margin-top: 8px;
    /*
        We need to set margin-top to 8px because so that the toggler
        can look horizontally centred with respect to the logo.
        The side-effect of this is that the parent container's height
        increases by 8px, making the entire top-bar look too low from
        the top edge of the screen.
        To compensate for this, we have to set the top margin of the
        top bar to -8px.
    */
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    background-color:  #FFFAFA; /* Snow White */
    border-radius: 8px;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    right: 0;

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner {
    margin: -2px;
    top: 50%;
    width: 20px;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner:before {
    top: -8px;
    width: 32px;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger-inner:after {
    bottom: -8px;
    width: 26px;
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navbar-toggler.is-active .hamburger-inner {
    width: 32px;
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-toggler.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.navbar-toggler.is-active .hamburger-inner:after {
    width: 32px;
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-toggler:focus {
    color: transparent;
    /* the dotted lines which appear on focusing on an element */
    /* take as their color the value of the color property of the element */
    /* to remove the dotted lines on focus */
}

.page-header .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: #FFBEC7;
    box-shadow: #FFBEC7;
}

.page-header .input-group .btn {
    background-color: #FFBEC7;
    color: white;
    text-transform: lowercase;
    font-weight: 700;
    font-variant: small-caps;
}

.attribution {
    /*color: #245566;*/
    color: #555;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post-form .control-group {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.post-form .control-label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1rem;
    color: #777;
}

.post-form .asteriskField {
    color: red;
}

.mce-panel,
.post-form .textinput {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.post-form .textinput {
    padding: 0.25rem 0.5rem;
}
/* to match the rule above */
.mce-content-body {
    margin: 0.25rem 0.5rem;
}

.post-form .form-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.post-form #submit-id-save {
    background: #3f1f60;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    max-width: 12rem;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1.25rem;
}

.post {
    margin: 3.25rem 0 3.25rem;
}

.post h2 a,
.post h2 a:visited {
    color: #3F1F60;
}