{% extends "blog/base.html" %}

{% load static %}


{% block extra_thirdparty_stylesheets %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">

    <!-- FlipClock CSS -->
    <link rel="stylesheet" href="{% static 'vendor/flipclock/flipclock.css' %}">
{% endblock %}


{% block extra_custom_stylesheets %}
    <!-- Coming Soon CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/coming_soon.css' %}">
{% endblock %}


{% block content %}
    <div class="hero text-center">
        <div class="half first">
            <div class="wrap">
                <h2>Hello Intermediate Pythonista,</h2>
                <p>We see you braving your way<br>Up the steep slope to Python mastery.<br>And we are here for you &ndash;<br>To hold your hands.</p>
                <p class="motto"><span class="y">Y</span>ou'll <span class="n">N</span>ever <span class="w">W</span>alk <span class="a">A</span>lone</p>
            </div>
        </div>
        <div class="half second d-flex flex-column justify-content-center align-items-center">
            <div class="wrap">
                <h2>Coming Soon</h2>
                <div class="countdown">
                    <p class="date"><strong>February 29, 2020</strong></p>
                    <div id="flipClock" class="flip-clock"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content"></div>
{% endblock %}


{% block extra_thirdparty_scripts %}
    <!-- FlipClock JS -->
    <script src="{% static 'vendor/flipclock/flipclock.js' %}"></script>
{% endblock %}


{% block extra_custom_scripts %}
    <!-- Coming Soon JS -->
    <script src="{% static 'blog/js/coming_soon.js' %}"></script>
{% endblock %}
