{%  extends "blog/base.html" %}

{% load static %}
{% load humanize %}

{% block thirdparty_staticfiles %}
    <!-- Prism CSS -->
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}">

    <!-- Prism JS -->
    <script src="{% static 'vendor/prism/prism.js' %}"></script>
    <!-- Modified Codesample Plugin -->
    <script src="{% static 'custom_plugins/codesample/plugin.min.js' %}"></script>
    <!-- Modified Preview Plugin -->
    <script src="{% static 'custom_plugins/preview/plugin.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h2 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="attribution">
                &mdash;
                <span class="author">{{ post.author }}</span>
                <span class="date">({{ post.published_date|naturalday }})</span>
            </div>
            <div class="content">{{ post.content|safe }}</div>
        </div>
    {% endfor %}
{% endblock %}