{%  extends "blog/base.html" %}

{% load humanize %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="attribution">
                &mdash;
                <span class="author">{{ post.author }}</span>
                <span class="date">({{ post.published_date|naturalday }})</span>
            </div>
            <p>{{ post.content|safe }}</p>
        </div>
    {% endfor %}
{% endblock %}