body {
    background: #F6EBFF;
    color: #2F4858;
    font-weight: 500;
    overflow-x: hidden;
}

h2 {
    color: #00896F;
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}

.page-header {
    background-color: #3f1f60;
    padding: 1.25rem 4rem;
}

.page-header a,
.page-header a:visited {
    text-decoration: none;
    font-weight: 900;
}

.page-header span:nth-child(1) {
    color: #FFBEC7;
}

.page-header span:nth-child(2) {
    color: tomato;
}

.page-header span:nth-child(3) {
    color: khaki;
    font-size: 2.25rem;
}

.page-header a:hover span:nth-child(2) {
    color: khaki;
}

.page-header a:hover span:nth-child(3) {
    color: tomato;
}

.content {
    margin-left: 2.5rem;
}

.attribution {
    color: #245566;
    font-size: small;
    margin-bottom: 0.75rem;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1.25rem;
}

.post {
    margin: 3.25rem 0 3.25rem;
}

.post h2 a,
.post h2 a:visited {
    color: #3F1F60;
}
