body {
    /*background: #F6EBFF;*/
    /*color: #2F4858;*/
    font-weight: 500;
    background-color: white;
    background: white url('../img/noise-pattern.png') repeat;
    color: #333;
}

h2 {
    /*color: #00896F;*/
    color: #3F1F60;
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}

.page-header {
    background-color: #3f1f60;
    padding: 1.25rem 0;
    font-size: 2rem;
    line-height: 1.5;
}

.page-header a,
.page-header a:visited {
    text-decoration: none;
    font-weight: 900;
}

.page-header span:nth-child(1) {
    color: #FFBEC7;
}

.page-header span:nth-child(2) {
    color: tomato;
}

.page-header span:nth-child(3) {
    color: khaki;
    font-size: 2.25rem;
}

.page-header a:hover span:nth-child(2) {
    color: khaki;
}

.page-header a:hover span:nth-child(3) {
    color: tomato;
}

.attribution {
    /*color: #245566;*/
    color: #777;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.save {
    float: right;
    background: #3f1f60;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 600;
    padding-right: 2rem;
    padding-left: 2rem;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1.25rem;
}

.post {
    margin: 3.25rem 0 3.25rem;
}

.post h2 a,
.post h2 a:visited {
    color: #3F1F60;
}
